PORT=8080
DB_URL=jdbc:postgresql://dpg-d85g6ml7vvec73816g50-a:5432/concept_clarity
DB_USERNAME=concept_clarity
DB_PASSWORD=concept_clarity
APP_CORS_ALLOWED_ORIGINS=http://conceptclarity.onrender.com
JPA_DDL_AUTO=validate
FLYWAY_ENABLED=true
JPA_SHOW_SQL=false
JPA_FORMAT_SQL=false
JAVA_OPTS=-XX:MaxRAMPercentage=75
